<div class="contain-inter" >
    <app-page-header [HeaderItems]="pageHeader" (initPage)="init()"></app-page-header>
    
    <!-- <input style="width:1px;background-color: whitesmoke;outline: none !important;
    border:0px solid whitesmoke;
    box-shadow: 0 0 0px whitesmoke;" nz-input id="code" [(ngModel)]="clock_code"
        (keydown.control.enter)="InputChange($event)"
        (keyup.enter)="InputChange($event)" />  -->
    <div>
        <nz-input-group 
        [nzAddOnAfter]="suffixButton">             
            <input nz-input id="code" [(ngModel)]="clock_code"
            (keydown.control.enter)="InputChange(clock_code)"
            (keyup.enter)="InputChange(clock_code)" />        
        </nz-input-group>
        <ng-template #suffixButton>
            <button nzType="primary"  nz-button (click)="startScan()">Scan</button>
        </ng-template>
        <!-- <input nz-input id="code" [(ngModel)]="clock_code"
                (keydown.control.enter)="InputChange($event)"
                (keyup.enter)="InputChange($event)" />  -->
        <!-- <p>
            <label for="imageFile">Upload a photo of yourself:</label>
            <input type="file" id="imageFile" capture accept="image/*" />
        </p> -->
        <div style="width: 500px" id="reader"></div>
    </div>
    <div  class="tableShow-area"  style="height: fit-content">
        <app-table (updatedData)="dynamike.getUpdatedData($event)" 
        (selectedIndex)="dynamike.getSelectedIndex($event)" 
        [notifier]="tableData" 
        [tableHeaderData]="headerData" 
        (nextPage)="dynamike.nextPageSetting($event,this,nextPage)"></app-table>
    </div> 
</div>
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>