
<div class="contain-inter" style="height: fit-content;padding:0">   
    <div style="display: flex;">
        <button nzShape="circle" nz-button nzType="primary" (click)="close()"  ><span nz-icon nzType="arrow-left" nzTheme="outline"></span></button>      
        <label class="displayText" style="font-size:20px;width:100%;vertical-align: top;text-align: center;">{{Product.code}} - {{Product.name}}</label>
        <button nzShape="circle" nz-button nzType="primary" (click)="saveProduct()" ><span nz-icon nzType="save" nzTheme="outline"></span></button>      
    </div>   
    <div>
        <img nz-image width="100%" max-width="150px" height="150px" 
        [src]="cardImageBase64" alt="" />
    </div>  
    <div style="width:100%">
        <label class="displayText" style="width:100%;vertical-align: top;text-align: center">Recipe / 食谱 :</label>
        <nz-input-group>
            <textarea rows="20" nz-input class="inputWidth" style="font-size:20px" [(ngModel)]="Product.description" ></textarea>
        </nz-input-group>
    </div>
</div>