<div class="contain-inter" >
    <app-page-header [HeaderItems]="pageHeader" (initPage)="init()"></app-page-header>        
    <button style="display:none"><span>View Policy</span></button>  
    <button id="deleteButton" style="display: none;" (click)="deletePolicy()"  ></button>
    <button id="updateButton" style="display: none;"  (click)="updatePolicy()"></button> 
    <button id="confirmButton" style="display:none" (click)="confirmGenerate()"></button>
    <button id="viewButton" style="display: none;"  (click)="goToDetails()"></button> 
    <!-- <button id="saveButton" style="display:none" (click)="addInsurance()"></button>  -->
    <div style="display: inline;margin-left:250px">                    
        <div style="width:100%;">
            <nz-form-item>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                <input nz-input   type="text" nz-input placeholder="input search text" [(ngModel)]="searchValue" (keyup.enter)="searchPolicy()" />
            </nz-input-group>
            <ng-template #suffixButton>
                <button nzType="primary" nz-button
                        (click)="searchPolicy()">Search / 寻找记录</button>
            </ng-template>
            </nz-form-item>   
        </div>    
    </div>

    <app-table (updatedData)="getUpdatedData($event)" 
    (selectedIndex)="getSelectedIndex($event)" 
    [notifier]="tableData" 
    [tableSettings]="tableSettings" 
    [tableHeaderData]="headerData" 
    (nextPage)="nextPageSetting($event,this,nextPage)"></app-table>
</div>