<div class="contain-inter">
    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
        <h2 style="float:left;"><span>PO 写货单</span></h2>
        <div style="float:right;">
            <button nzType="primary" nz-button (click)="generatePO()">Generate PO</button>
        </div> 
        <h2 style="float:right;">Total: RM {{total_po_string}}</h2> 
    </div>
    <button id="deleteButton" style="display: none;"  (click)="deleteItem(id)"></button> 
    <div class="tableShow-area"  style="height: fit-content;">
        <div class="tableShow-table">
            <div>
                <div style="width:100%" >
                    <div nz-row style="display: flex;width: 100%;">
                        <div style="width: 100%;">                        
                            <label class="displayText">Date / 日期 :</label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Date is required!">
                                  <nz-input-group>
                                    <input nz-input type="date" [(ngModel)]="purchase_date" />
                                  </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                <div nz-row style="display: flex;width: 100%;">
                    <div style="width: 100%;">
                            <label class="displayText">Supplier / 供应商 ：</label>
                            <nz-input-group>
                                <nz-select nzShowSearch class="inputWidth" 
                                [(ngModel)]="supplier_id"        
                                (ngModelChange)="SupplierChange($event)"                    
                                    nzPlaceHolder="Select a Supplier">
                                    <ng-container *ngFor="let p of Suppliers, let i = index">
                                        <nz-option *ngIf="Suppliers" [nzValue]="p.id" [nzLabel]="p.name"></nz-option>
                                    </ng-container>
                                    <nz-option *ngIf="!Suppliers" nzDisabled nzCustomContent>
                                        <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                                    </nz-option>
                                </nz-select>       
                            </nz-input-group>
                    </div>
                </div>
                <!-- <button nzType="primary" nz-button (click)="searchPO()">Search</button>  -->
            </div>            
            
            <div class="butArea" style="border: 2px solid grey;  margin-top: 10px;">
                <div style="padding:5px" style="border-bottom: 2px solid grey;padding: 10px;">
                    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
                        <h3 style="float:left;"><span>Product List / 货单</span></h3>
                        <div style="float:right">
                            <nz-button-group nzSize="small" class="tableBut" >
                                <button nzType="primary"  nz-button 
                                    (click)="addItems(item_code,item_quantity,item_unit_cost,total_amount)">Add Item</button>
                            </nz-button-group>
                        </div>
                    </div>
                    <!-- <div style="width: 100%;">
                        <label class="displayText">Inventory Name / 货名 :</label>
                        <input nz-input  [(ngModel)]="item_code" (ngModelChange)="InputChange($event)"  />  
                        <nz-select nzShowSearch class="inputWidth"
                            [(ngModel)]="item_index"
                            (ngModelChange)="ItemChange($event)"                    
                            nzPlaceHolder="Select a Solution">
                            <ng-container *ngFor="let p of Items; let i = index">Items
                                <nz-option  *ngIf="Items" [nzValue]="i" [nzLabel]="p.code + '-' + p.name"></nz-option>
                            </ng-container>
                            
                            <nz-option *ngIf="!Items" nzDisabled nzCustomContent>
                                <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                            </nz-option>
                        </nz-select>
                    </div> -->
                    <div nz-row style="display: flex;width: 100%;">
                        <div style="width: 100%;">
                            <label class="displayText">Product Code </label><nz-switch [ngModel]="true" nzCheckedChildren="S6" nzUnCheckedChildren="14G" (ngModelChange)="switchToCafePO()"></nz-switch>
                            <input nz-input  *ngIf="isS6" id="itemcode" [(ngModel)]="item_code" (keyup.enter)="InputChange($event)" />
                            <br *ngIf="!isS6">
                            <img style="width:100px;height:100px"  [src]="formatImage(imagefile)" />
                            <nz-select *ngIf="!isS6" id="productItems" nzShowSearch class="inputWidth"
                                [(ngModel)]="item_index"
                                (ngModelChange)="InventoryItemChange($event)"                    
                                nzPlaceHolder="Select a Solution">
                                <ng-container *ngFor="let p of Items; let i = index">Items
                                    <nz-option  *ngIf="Items" [nzValue]="i" [nzLabel]="p.code + '-' + p.name"></nz-option>
                                </ng-container>
                                
                                <nz-option *ngIf="ProductLoadSel" nzDisabled nzCustomContent>
                                    <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                                </nz-option>
                            </nz-select>
                            <div style="display: flex;width: 100%;margin-top: 10px;">
                                <div style="width:100%;">
                                    <label class="displayText">Name with Special Size ：</label>
                                    <nz-input-group>
                                    <input nz-input [(ngModel)]="name" />
                                    </nz-input-group>
                                </div>
                            </div>
                            <nz-select *ngIf="isS6" id="productItems" nzShowSearch class="inputWidth"
                                [(ngModel)]="item_index"
                                (ngModelChange)="ItemChange($event)"                    
                                nzPlaceHolder="Select a Solution">
                                <ng-container *ngFor="let p of Products; let i = index">Items
                                    <nz-option  *ngIf="!ProductLoadSel" [nzValue]="i" [nzLabel]="p.supplier.name + ' - ' + p.name"></nz-option>
                                </ng-container>
                                
                                <nz-option *ngIf="ProductLoadSel" nzDisabled nzCustomContent>
                                    <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                                </nz-option>
                            </nz-select>
                        </div>
                        <button *ngIf="isS6" nzType="primary" nz-button (click)="InputChange($event)">Search</button> 
                    </div>
                    <div [formGroup]="porderForm">
                        <div style="display: flex;width: 100%;margin-top: 10px;">
                            <div style="width:100%;">
                                <label class="displayText">Product Name / 货名 ：</label>
                                <label class="displayText">{{item_name}}</label>
                            </div>
                        </div> 
                        <div style="display: flex;width: 100%;margin-top: 10px;">
                            <div style="width:100%;">
                                <label class="displayText">Quantity / 数量 ：</label>
                                <nz-form-item>
                                    <nz-form-control nzErrorTip="Item Quantity is required and must be a number!">
                                      <nz-input-group>
                                        <input nz-input id="itemquantity" formControlName="item_quantity" [(ngModel)]="item_quantity" (keyup.enter)="qtyChange($event)"/>
                                      </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-vertical-card 
      (updatedData)="getUpdatedData($event)" 
      (selectedIndex)="getSelectedIndex($event)" 
      [notifier]="tableData" 
      [tableSettings]="tableSettings"
      [tableHeaderData]="headerData"
      (nextPage)="nextPageSetting($event,this,nextPage)"
      ></app-vertical-card>
      
    <!-- <div class="tableShow-area">
        <app-vertical-list
        (updatedData)="getUpdatedData($event)" 
        (selectedIndex)="getSelectedIndex($event)" 
        [notifier]="tableData" 
        [tableSettings]="tableSettings"
        [tableHeaderData]="headerData"
        (nextPage)="nextPageSetting($event,this,nextPage)"
        ></app-vertical-list>
      </div> -->
</div>