<div class="contain-inter" >
    <app-page-header [HeaderItems]="pageHeader" (initPage)="reset()"></app-page-header>        
    <button id="saveButton" style="display:none" (click)="saveClient()">Save</button>  
    <div>
        <!-- <button id="nextButton" [disabled]="testest" style="display:none" (click)="next()">Next</button>  -->
        <button id="nextButton"  style="display:none" (click)="next()">Next</button> 
    </div>
    <div [formGroup]="clientForm">
        <div style="display: flex;width: 100%;margin-top: 10px;">
            <div style="width:50%">
                <label class="displayText">Client / 客人名：</label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Client Name is required!">
                        <nz-input-group>
                            <input nz-input class="inputWidth" [(ngModel)]="client_name" formControlName="client_name"/>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="width:50%">
                <label class="displayText">Address / 客人地址：</label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Billing Address is required!">
                        <nz-input-group>
                            <textarea rows="5" class="inputWidth" [(ngModel)]="client_address" formControlName="client_address"></textarea>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>  
        <div style="display: flex;width: 100%;margin-top: 10px;">
            <div style="width:50%">
                <label class="displayText">Contact No. / 电话号码：</label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Contact No is required!">
                        <nz-input-group>
                            <input nz-input class="inputWidth" [(ngModel)]="client_contact" formControlName="client_contact"/>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>    
    </div>    
    <div style="display: flex;width: 100%;margin-top: 10px;">   
        <div style="width:50%">
            <label class="displayText">Shipping Address / 运输地址：</label>
            <nz-form-item>
                <nz-form-control nzErrorTip="Shipping Address is required!">
                    <nz-input-group>
                        <textarea rows="5" class="inputWidth"  [(ngModel)]="client_shippingAddress" ></textarea>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>             
        <div style="width:50%;display:flex">
            <label class="displayText">SG Client / 新加坡 :</label>
        </div>
    </div>  
</div>