<div class="contain-inter" >
    <app-page-header [HeaderItems]="pageHeader" (initPage)="reset()"></app-page-header>        
    <button id="saveButton" style="display:none" (click)="saveInsuranceClient()">Save</button>
    <button id="previousButton" style="display:none" (click)="pre()">Previous</button> 
    <button id="nextButton" style="display:none" (click)="next()">Next</button>
    <div class="tableShow-area"  style="height: fit-content;" >
        <div class="tableShow-table">
            <div style="width:100%">                 
                <div style="display: flex;width: 100%;margin-top: 10px;align-items: flex-end;">
                    <div style="width:50%">
                        <label class="displayText">Insured Name:</label>                        
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Insured Name is required!">
                                <nz-input-group >
                                    <input nz-input [(ngModel)]="insured_name"  />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div style="width:50%">
                        <label class="displayText">Plate No：</label>                                                
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Plate No is required!">
                                <nz-input-group >
                                    <input nz-input [(ngModel)]="plate_no"  />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div> 
                <div style="display: flex;width: 100%;margin-top: 10px;align-items: flex-start;">
                    <div style="width:50%">
                        <label class="displayText">IC:</label>                                                
                        <nz-form-item>
                            <nz-form-control nzErrorTip="IC No is required!">
                                <nz-input-group >
                                    <input nz-input [(ngModel)]="ic"  />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div style="width:50%">
                        <label class="displayText">Address：</label>                                                                        
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Address is required!">
                                <nz-input-group >
                                    <textarea rows="5" nz-input class="inputWidth" [(ngModel)]="address"  ></textarea>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div> 
                <div style="display: flex;width: 100%;margin-top: 10px;align-items: flex-end;">
                    
                    <div style="width:50%">
                        <label class="displayText">Client Name</label>                                            
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Client is required!">
                                <nz-input-group 
                                [nzAddOnAfter]="suffixButton"> 
                                    <nz-select id="clients" nzShowSearch class="inputWidth" [(ngModel)]="client_id"  
                                    (keydown.enter)="searchClient($event)"                  
                                        nzPlaceHolder="Select a Insured Client">
                                        <ng-container  *ngFor="let p of Client, let i = index">
                                            <nz-option *ngIf="Client" [nzValue]="p.id" [nzLabel]="p.name"></nz-option>
                                        </ng-container> -->
                                        <nz-option *ngIf="!Client" nzDisabled nzCustomContent>
                                            <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                                        </nz-option>
                                    </nz-select>       
                                </nz-input-group>
                                <ng-template #suffixButton>
                                    <button nzType="primary" nz-button
                                            (click)="goToAdd()">Add New</button>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div> 
            </div>
            <div style="display: flex;width: 100%;margin-top: 10px;align-items: flex-end;">
                <div style="width:50%">
                    <label class="displayText">Keyword :</label>                        
                    <!-- <nz-form-item>
                        <nz-form-control nzErrorTip="keyword is required!"> -->
                            <nz-input-group >
                                <input nz-input [(ngModel)]="keyword" />
                            </nz-input-group>
                        <!-- </nz-form-control>
                    </nz-form-item> -->
                </div>
                <div style="width:50%">
                    <label class="displayText">pdfPassword：</label>                                                
                    <!-- <nz-form-item>
                        <nz-form-control nzErrorTip="pdfPasswordis required!"> -->
                            <nz-input-group >
                                <input nz-input [(ngModel)]="pdfpassword" />
                            </nz-input-group>
                        <!-- </nz-form-control>
                    </nz-form-item> -->
                </div>
            </div>
        </div>        
    </div>
</div>
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>