<div class="contain-inter" style="height: fit-content;">
    <!-- <div class="tableShow-area"   -->
    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
        <button id="round" nzShape="circle" nz-button nzType="primary" (click)="reset();init();"  ><i nz-icon nzType="reload"></i></button>
        <h2 style="float:left;"><span>Cash Sales 批发</span></h2>   
        <button nzType="primary" nz-button (click)="getReceiptNo()">Generate No</button>   
        <div style="float:right">
            <h2><span *ngIf="total">Total: RM {{total}}</span>
                <span *ngIf="!total">Total: RM 0.00</span></h2>
                <button nzType="primary" nz-button 
                                        (click)="generateCashSale()">Generate Cash Sale</button>
        </div>
        <div style="width: 50%;">                        
            <label >CashSales No / 单号码 :</label>
            <input nz-input [(ngModel)]="orderId" />
            <button nzType="primary" nz-button (click)="loadCashSales()">Load</button>
        </div>
    </div>
    <div class="tableShow-area"  style="height: fit-content;">
        <style>
            .displayText{
                width:180px;
            }
            .inputWidth{
                width:100%;
            }
        </style>
        <div class="tableShow-table">
            <div style="width:100%">
                <div nz-row style="display: flex;width: 100%;">
                    <div style="width: 50%;">                        
                        <label class="displayText">Date / 日期 :</label>
                        <input nz-input type="date" [(ngModel)]="date" />
                    </div>
                    <!-- <div style="width: 50%;">                        
                        <label class="displayText">Order No / 单号码 :</label>
                        <label >{{orderId}}</label>
                    </div> -->
                </div>
            </div>
            <div >                
                <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
                    <h3 style="float:left;"><span>Client / 客人</span></h3>
                    <div style="float:right">
                        <nz-button-group nzSize="small" class="tableBut" >
                            <button nzType="primary"  nz-button 
                                (click)="saveClient()">Save</button>
                        </nz-button-group>
                    </div>
                </div>
                <div nz-row style="display: flex;width: 100%;">                    
                    <div style="width:100%">
                        <label class="displayText">Client Name</label>                                            
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Client is required!">
                                <nz-input-group 
                                [nzAddOnAfter]="suffixButton"> 
                                    <nz-select id="clients" nzShowSearch class="inputWidth" [(ngModel)]="client_id"  
                                    (ngModelChange)="ClientChange($event)"
                                    (keydown.enter)="searchClient($event)"                  
                                        nzPlaceHolder="Select a Insured Client">
                                        <ng-container  *ngFor="let p of Client, let i = index">
                                            <nz-option *ngIf="Client" [nzValue]="p.id" [nzLabel]="p.name"></nz-option>
                                        </ng-container> -->
                                        <nz-option *ngIf="!Client" nzDisabled nzCustomContent>
                                            <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                                        </nz-option>
                                    </nz-select>       
                                </nz-input-group>
                                <ng-template #suffixButton>
                                    <button nzType="primary" nz-button
                                            (click)="searchClient(client_id)">Search</button>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <!-- <div style="width: 100%;">
                        <label class="displayText">Client / 客人 ：</label>
                        <nz-select nzShowSearch class="inputWidth"
                        [(ngModel)]="client_index" (ngModelChange)="ClientChange($event)"
                            nzPlaceHolder="Select a Client">
                            <ng-container *ngFor="let p of Client, let i =index">
                                <nz-option *ngIf="!ClientLoadSel" [nzValue]="i" [nzLabel]="p.name"></nz-option>
                            </ng-container>
                            <nz-option *ngIf="ClientLoadSel" nzDisabled nzCustomContent>
                                <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                            </nz-option>
                        </nz-select>
                    </div> -->
                </div>
                <div style="display: flex;width: 100%;margin-top: 10px;">
                    <div style="width:50%">
                        <label class="displayText">Client / 客人名：</label>
                        <input nz-input class="inputWidth" [(ngModel)]="client_name"/>
                    </div>
                    <div style="width:50%">
                        <label class="displayText">Address / 客人地址：</label>
                        <textarea rows="5" class="inputWidth" [(ngModel)]="client_address"></textarea>
                    </div>
                </div>  
                <div style="display: flex;width: 100%;margin-top: 10px;">
                    <div style="width:50%">
                        <label class="displayText">Contact No. / 电话号码：</label>
                        <input nz-input  class="inputWidth" [(ngModel)]="client_contact"/>
                    </div>  
                    <div style="width:50%">
                        <label class="displayText">Shipping Address / 运输地址：</label>
                        <textarea rows="5" class="inputWidth"  [(ngModel)]="client_shippingAddress"></textarea>
                    </div>
                </div>            
            </div>
            <div class="butArea" style="border: 2px solid grey;  margin-top: 10px;">
                <div style="padding:5px" style="border-bottom: 2px solid grey;padding: 10px;">
                    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
                        <h3 style="float:left;"><span>Product List / 货单</span></h3>
                        <div style="float:right">
                            <nz-button-group nzSize="small" class="tableBut" >
                                <button nzType="primary" id="addItembtn" nz-button 
                                    (click)="addItems(item_id,item_quantity,item_unit_cost,item_sellingPrice)">Add Item</button>
                            </nz-button-group>
                        </div>
                    </div>
                    <div nz-row style="display: flex;width: 100%;">
                        <div style="width: 100%;">
                            <label class="displayText">Product Code / 货名 :</label>
                            <input nz-input  id="itemcode" [(ngModel)]="item_code" (keyup.enter)="InputChange($event)" />
                            <img style="width:100px;height:100px"  [src]="formatImage(imagefile)" />
                            <nz-select id="productItems" nzShowSearch class="inputWidth"
                                [(ngModel)]="item_index"
                                (ngModelChange)="ItemChange($event)"                    
                                nzPlaceHolder="Select a Solution">
                                <ng-container *ngFor="let p of Products; let i = index">Items
                                    <nz-option  *ngIf="!ProductLoadSel" [nzValue]="i" [nzLabel]="p.id + '-' + p.name"></nz-option>
                                </ng-container>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row style="display: flex;width: 100%;">
                        <div style="width:50%">
                            <label class="displayText">Price Unit / 卖价 ：</label>
                            <input nz-input  class="inputWidth" (change)="calTotal($event)" [(ngModel)]="item_unit_cost" />
                        </div>                        
                        <div style="width:50%">
                            <label class="displayText">Quantity / 数量 ：</label>
                            <input nz-input  id="itemquantity" class="inputWidth"  (change)="calTotal($event)" [(ngModel)]="item_quantity" (keyup.enter)="btnEvent()"/>
                        </div>
                        <div style="width:50%">
                            <label class="displayText">Total Price Unit / 卖价 ：</label>
                            <input nz-input  class="inputWidth" [(ngModel)]="item_sellingPrice" />
                        </div>
                    </div>
                </div>
                <nz-table  [nzScroll]="{ x: '1150px' }"   [nzData]="OrderItems" nzBordered nzSize="small"
                    nzHideOnSinglePage="true" [nzFrontPagination]="false" [nzNoResult]="emptyTemplate">
                    <ng-template #emptyTemplate>
                        <tr>
                            <nz-empty *ngIf="NoResultId=='No Data'" nzNotFoundImage="simple"></nz-empty>
                            <nz-empty *ngIf="NoResultId=='No Result'" nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                [nzNotFoundContent]="contentTpl">
                                <ng-template #contentTpl>
                                    <span> {{NoResultId}} </span>
                                </ng-template>
                            </nz-empty>
                        </tr>
                    </ng-template>
                    <thead>
                        <tr>
                            <ng-container *ngFor="let p of order_product">
                                <th  class="firstTh" style="text-align: center;z-index: 20;"
                                    [colspan]="1">
                                    {{p}}
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>

                        
                        <ng-container *ngFor="let p of order_items.order_item,let i = index">
                            <tr >
                                <td >
                                    {{i+1}}
                                </td>
                                <td *ngIf="p.itemName !=null">
                                    {{p.itemId}} - {{p.itemName}}
                                </td>  
                                <td *ngIf="p.itemName ==null">
                                    {{p.itemId}} 
                                </td>    
                                <td>
                                    {{p.unitPrice}}
                                </td> 
                                <td>
                                    {{p.quantity}}
                                </td>                                 
                                <td>
                                    {{p.sellingPrice}}
                                </td>
                                <td>
                                    <button nzType="primary" nz-button 
                                    (click)="deleteItem(i)">Delete</button>
                                    
                                </td>
                                   
                            </tr>    
                        </ng-container>

                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>