<style>
    .bshadow {
    display: grid;
    align-items: center;
    justify-content: center;
    margin:0px;
    padding: 0px;
    /* filter: drop-shadow(5px 5px 5px #222222); */
    /* opacity: .5; */
    }
</style>
<div class="bshadow" >
    
    <h2 *ngIf="staffProfile">Staff ID: {{staffProfile.code}}</h2>
    <h2 *ngIf="staffProfile">Name : {{staffProfile.name}}</h2>
    <div style="display: block;
    margin-left: auto;
    margin-right: auto;">
    <qrcode  [qrdata]="qrcode" [width]="250"  [errorCorrectionLevel]="'M'"     
    ></qrcode>
        <!-- <qrcode  [qrdata]="qrcode" [width]="250"  [errorCorrectionLevel]="'M'"         
            [colorDark]="'#ffffff'"
            [colorLight]="'#ff4500'"
        ></qrcode> -->
    </div>
    <div style="display: block;
    margin-left: auto;
    margin-right: auto;">
        <!-- <ngx-barcode 
            [bc-element-type]="elementType"
            [bc-value]="qrcode" [bc-width]="0.5" [bc-height]="50" 
            [bc-line-color]="lineColor"
            [bc-background]="background" 
            [bc-margin]="margin" [bc-display-value]="true"></ngx-barcode> -->
        <ngx-barcode 
        [bc-element-type]="elementType"
        [bc-value]="qrcode" [bc-width]="0.5" [bc-height]="50" 
        [bc-margin]="margin" [bc-display-value]="false"></ngx-barcode>
    </div>
    <h2 *ngIf="staffProfile">Time : {{clockTime}}</h2>
    <button id="round" nzShape="circle" nz-button nzType="primary" (click)="reset();"  ><i nz-icon nzType="reload"></i></button>
</div>
