
<style>
    .menuRow{
        position: relative;
        padding: 12px 16px 12px 40px;
        line-height: 22px;
        cursor: pointer;
        transition: all .3s;
    }
    .menuLabel{
        display: block;
        font-family: Lucida Console,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
        white-space: nowrap;
        /* text-align: center; */
        transform: scale(.83);
    }
</style>
<div class="contain-inter" style="height: fit-content;">
    <app-page-header [HeaderItems]="pageHeader" (initPage)="init()"></app-page-header> 
    <app-product_search_engine mode="ProductDetail" [itemCode]="itemCode" (searchResult)="getSearchValue($event)" [pagination]="paginationData"></app-product_search_engine>
    <!-- <span>
        <span><span nz-icon nzType="arrow-left" nzTheme="outline"></span> Add Category</span>
        <span><span nz-icon nzType="arrow-left" nzTheme="outline"></span> Add New</span>
    </span>    -->
    <nz-drawer
        [nzVisible]="visible"
        nzPlacement="right"
        [nzTitle]="title"
        nzWidth="100%"
        (nzOnClose)="close()"
    >
    <div style="width:0px;height:0px"></div>
        <app-food_recipe *ngIf="product_id" [receipeId]="product_id"   (closeDrawer)="closeDrawer($event)"></app-food_recipe>
    </nz-drawer>
    <ng-container *ngFor="let data of ProductTypes; let i = index">
        <nz-collapse nzAccordion>          
        <nz-collapse-panel [nzHeader]="data.description" [nzDisabled]="!data.product">
                <ng-container *ngFor="let p of data.product">
                    <nz-collapse [nzAccordion]="false" >  
                        <div class="headerInfo">
                            <div class="menuRow" style="padding: 5px" (click)="open(p.id, p.code)">
                                {{p.code}} - {{p.name}}
                            </div>
                          </div>        
                    </nz-collapse>
                </ng-container> 
        </nz-collapse-panel>  
        <ng-template #elseCollapsePanelTemplate>
            <nz-collapse-panel [nzHeader]="data.description" [nzActive]="false">
            </nz-collapse-panel> 
        </ng-template>
        </nz-collapse>
    </ng-container>  
</div>