<div class="contain-inter" >
    <app-page-header [HeaderItems]="pageHeader" (initPage)="init()"></app-page-header>        
    <button style="display:none"><span>View Policy</span></button>  
    <button id="deleteButton" style="display: none;" (click)="deleteInsurance()"  ></button>
    <button id="updateButton" style="display: none;"  (click)="updateInsurance()"></button> 
    <button id="viewButton" style="display: none;"  (click)="goToDetails()"></button> 
    <button id="statusButton" style="display:none" (click)="updateStatus()" ></button>
    <button id="saveButton" style="display:none" (click)="addInsurance()"></button> 
    <app-table [expandProperty]="expandProperty" (updatedData)="getUpdatedData($event)" (selectedIndex)="getSelectedIndex($event)" [notifier]="tableData" [tableHeaderData]="headerData" [tableSettings]="tableSettings"></app-table>
   
</div>
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>