
<div class="contain-inter" style="height: fit-content;">    
    <nz-tabset  style="font-family: Metropolis;">
        <nz-tab nzTitle="单类 Invoice Type">
            <app-invoicetypelisting></app-invoicetypelisting>
        </nz-tab>
        <nz-tab nzTitle="账单类 Account Type">
            <app-accountypelisting></app-accountypelisting>
        </nz-tab>
        <nz-tab nzTitle="货类 Product Type">
            <app-producttypelisting></app-producttypelisting>
        </nz-tab>
        <nz-tab nzTitle="Product Price Type" >
            <app-productpricelisting></app-productpricelisting>
        </nz-tab>
        <nz-tab nzTitle="Provider List ">
            <app-provider_list></app-provider_list>
        </nz-tab>
        <nz-tab nzTitle="Chart of Account ">
            <app-provider_list></app-provider_list>
        </nz-tab>
        <nz-tab nzTitle="Option Group ">
            <app-optiongrouplisting></app-optiongrouplisting>
        </nz-tab>
    </nz-tabset>
</div>