
<div class="contain-inter" style="height: fit-content;">
    <app-page-header [HeaderItems]="pageHeader" (initPage)="init()"></app-page-header>    
    <app-product_search_engine *ngIf="categoryType==1" mode="ProductDetail" [itemCode]="itemCode" (searchResult)="getSearchValue($event)" [pagination]="paginationData"></app-product_search_engine>
    <div *ngIf="categoryType!=1" style="width: 100%;">
        <label class="displayText">Product Name / 货名 :</label>
        <div style="display:none"> <app-product_search_engine mode="ProductDetail" [itemCode]="itemCode" (searchResult)="getSearchValue($event)" [pagination]="paginationData"></app-product_search_engine> </div>
        <nz-select nzShowSearch class="inputWidth"
            [(ngModel)]="item_index"
            (ngModelChange)="ItemChange($event)"                    
            nzPlaceHolder="Select a Solution">
            <ng-container *ngFor="let p of Items; let i = index">Items
                <nz-option  *ngIf="Items" [nzValue]="p.code" [nzLabel]="p.code + '-' + p.name"></nz-option>
            </ng-container>
            
            <nz-option *ngIf="!Items" nzDisabled nzCustomContent>
                <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
            </nz-option>
        </nz-select>
    </div>
    <div style="display: inline;margin-left:250px">                                        
        <div style="display:flex;width: 100%;margin-top: 10px;align-items: flex-end;">
            <div style="width:35%">
                <label >Product Code / 代号</label>
                <nz-input-group >
                    <input nz-input [(ngModel)]="Product.code + ' - ' + Product.name" nz-input readOnly />
                  </nz-input-group>
            </div>
            <div style="width:30%">                    
                <label >Current Stock / 现货</label>
                <nz-input-group >
                    <input nz-input [(ngModel)]="Product.stock" nz-input readOnly />
                  </nz-input-group>
            </div>
            <div style="width:35%">
                <label >Total /  总额 :</label>
                <nz-input-group nzSuffix="MYR" nzPrefix="RM">
                    <input nz-input [(ngModel)]="Product.totalStock" nz-input readOnly />
                </nz-input-group>
            </div>
        </div>
        <div>
        </div>        
    </div>
    <app-tabnav [categoryType]="categoryTabNav" [notifier]="tableData" (returnTabPaginationData)="returnTabPaginationData($event)" ></app-tabnav>
</div>