<div class="contain-inter">
    <!-- <app-page-header *ngIf="!category" [HeaderItems]="pageHeader" (initPage)="init()"></app-page-header>                     -->
    <!-- <app-product_search_engine *ngIf="!category" mode="Product" (searchResult)="getSearchValue($event)"></app-product_search_engine> -->
    <button style="display:none" id="changeProductCodeButton" (click)="changeProductCode()"></button>
    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">        
        <div style="display: inline;margin-left:250px">                    
            <div style="width:100%;">   
                <nz-form-item >
                    <nz-form-label  nzFor="product_type" style="float:left">Product Type / 货品种类</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Please select a product type!">
                      <nz-select
                        #productTypeselect
                            id="product_type"
                            [(ngModel)]="product_type"
                            nzPlaceHolder="Select a Product Type"
                            (ngModelChange)="ProductTypeChange($event)"
                        >
                        <ng-container *ngFor="let p of ProductTypes">
                            <nz-option *ngIf="ProductTypes" 
                            [nzValue]="p.id" [nzLabel]="p.description"></nz-option>
                            
                        </ng-container>
                        <nz-option *ngIf="!ProductTypes" nzDisabled nzCustomContent>
                            <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            
        </div>
    </div>
    
    <!-- <app-table (updatedData)="dynamike.getUpdatedData($event)" 
    (selectedIndex)="dynamike.getSelectedIndex($event)" 
    [notifier]="tableData" 
    [expandProperty]="expandProperty" 
    [tableSettings]="tableSettings" 
    [tableHeaderData]="headerData" 
    (nextPage)="dynamike.nextPageSetting($event,this,nextPage)"></app-table> -->
      <app-table (updatedData)="dynamike.getUpdatedData($event)" 
      (selectedIndex)="dynamike.getSelectedIndex($event)" 
      [notifier]="tableData" 
      [tableSettings]="tableSettings" 
      [tableHeaderData]="headerData" 
      (nextPage)="nextPageSetting($event)"></app-table>
    <button id="updateButton" style="display: none;"  (click)="updateProduct()"></button> 
    <button id="viewButton" style="display: none;"  (click)="goToDetails()"></button> 
    <button id="validButton" style="display: none;"  (click)="updateValid()"></button> 
</div>
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>