<div id="ListingModal" class="contain-inter">    
    <app-table 
    (updatedData)="getUpdatedData($event)" 
    (selectedIndex)="getSelectedIndex($event)"
    [notifier]="tableData" 
    [tableSettings]="tableSettings" 
    [tableHeaderData]="headerData"
    (nextPage)="nextPageSetting($event)" ></app-table>
    
    <button style="display:none" id="updateButton" (click)="updateExpiredDate()"></button>
    <button style="display:none" id="splitButton" (click)="split()"></button>
</div>
  

  
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>
