

<div class="container" style="display: flex;justify-content: center; backdropBorderRadius: '3px'" >
  <div class="imgcontainer" style="display: flex;justify-content: center;">
    <img style="width:150px;height:150px;" src="https://drive.google.com/thumbnail?id=1VE4pHerwDyCx51bXZkdtSeNdC3Q6vbpj">
  </div>
</div>
<div class="container" style="display: flex;justify-content: center;" >
  <form [formGroup]="form" nz-form [nzLayout]="'vertical'"  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input id="loginusername" nz-input formControlName="username" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input nz-input formControlName="password" type="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- <div nz-row class="login-form-margin">
      <div nz-col >
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
      </div>
    </div>  
    <div nz-row class="login-form-margin" >
      <div nz-col >
        <a class="login-form-forgot">Forgot password</a>
      </div> 
    </div>    -->
    
    <nz-button-group style="display: flex;justify-content: center;">
      <button nzType="primary" nz-button
          (click)="Login()"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login</button>
   </nz-button-group>
    <!-- <div nz-row style="display: flex;justify-content: center;">
    Or
    </div>
    <div nz-row style="display: flex;justify-content: center;">    
      <a routerLink="../register">Register</a>
    </div> -->
  
  </form>
</div>