<div class="contain-inter" >
    <app-page-header [HeaderItems]="pageHeader" (initPage)="init()"></app-page-header>   
    <button id="viewButton" style="display: none;"  (click)="goToDetails()"></button> 
    <!-- <app-table (updatedData)="getUpdatedData($event)" 
    (selectedIndex)="getSelectedIndex($event)" 
    [notifier]="tableData" 
    [tableSettings]="tableSettings"
    [tableHeaderData]="headerData" 
    (nextPage)="nextPageSetting($event,this,nextPage)"></app-table> -->
    <div class="tableShow-area">
      <app-vertical-card 
      (updatedData)="getUpdatedData($event)" 
      (selectedIndex)="getSelectedIndex($event)" 
      [notifier]="tableData" 
      [tableSettings]="tableSettings"
      [tableHeaderData]="headerData"
      (nextPage)="nextPageSetting($event,this,nextPage)"
      ></app-vertical-card>
    </div>
</div>