<div  class="tableShow-area"  style="height: fit-content">
  <div class="tableShow-table">
    <div class="butArea">
        <div [style.height]="'30px'" class="tableTop">
            <div class="thLeft" style="width:100%">
                <a class="columns" style="pointer-events: auto;"
                    nz-dropdown
                    nzTrigger="click" [nzDropdownMenu]="menu">
                    <span>
                        Listing
                    </span>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <div class="dropDownCls">
                        <div class="Down-header">Show Columns</div>
                        <nz-checkbox-wrapper style="width: 100%;" >
                        </nz-checkbox-wrapper>
                    </div>
                </nz-dropdown-menu>
            </div>
        </div>
        <nz-table  #Sales [nzData]="tableData" 
          [nzScroll]="{ x: '1150px' }" 
          style="table-layout: fixed;"  
          nzBordered nzSize="small"
          nzHideOnSinglePage="true" 
          [nzFrontPagination]="false" 
          [nzNoResult]="emptyTemplate"
          [nzTotal]="paginationData.totalElements"
          [nzPageIndex]="paginationData.pageable.pageNumber+1"
          [nzPageSize]="+paginationData.pageable.pageSize"
          (nzPageIndexChange)="pageChange($event)"  
          > 
            <ng-template #emptyTemplate>
            <tr>
                <nz-empty *ngIf="NoResultId=='No Data'" nzNotFoundImage="simple"></nz-empty>
                <nz-empty *ngIf="NoResultId=='No Result'" nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                    [nzNotFoundContent]="contentTpl">
                    <ng-template #contentTpl>
                        <span> {{NoResultId}} </span>
                    </ng-template>
                </nz-empty>
            </tr>
          </ng-template>
          <thead>
            <tr>
              <th style="width:50px" *ngIf="expandProperty" ></th> 
              <th *ngIf="!expandProperty && tableSettings && tableSettings.Delete" class="firstTh" style="width:50px;text-align: center;z-index: 20;" [colspan]="1"></th>              
              <ng-container *ngFor="let header of tableHeaderData" >   
                <th *ngIf="header.sortOrder"
                class="firstTh" style="text-align: center;z-index: 20;" [colspan]="1"
                [nzSortOrder]="header.sortOrder"
                [nzSortFn]="header.sortFn"
                [nzSortDirections]="header.sortDirections"
                >
                    {{ header.header }}
                </th>
                <th *ngIf="!header.sortOrder"
                  class="firstTh" style="text-align: center;z-index: 20;" [colspan]="1"
                  >
                  {{ header.header }}
                </th>     
              </ng-container>        
              <th  *ngIf="tableSettings && tableSettings.Action" class="firstTh" style="text-align: center;z-index: 20;" [colspan]="1">Action</th>
            </tr>
          </thead>
          <tbody>            
            <ng-template ngFor let-data [ngForOf]="Sales.data">
              <tr>
                <td style="width:50px" *ngIf="data[expandProperty] && data[expandProperty].length >0 else emptyExpandTemplate" [(nzExpand)]="data.expand"></td>  
                <ng-template #emptyExpandTemplate>
                  <td *ngIf="expandProperty" style="width:50px"></td>
                </ng-template>
                <td *ngIf="!expandProperty &&  tableSettings && tableSettings.Delete">
                  <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Sure to Delete?" (nzOnConfirm)="deleteButton(data.id)"  nzDanger ><i nz-icon nzType="delete"></i></button>
                </td>                              
                <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
                  <ng-container *ngFor="let key of tableHeaderData" >                    
                    <ng-container *ngIf="!key.status && !key.valid">    
                      <ng-container *ngIf="key.type != 'image'; else imageTemplate">   
                        <ng-container *ngIf="key.type != 'date'">      
                          <ng-container *ngIf="!key.value; else ValueTemplate">
                            <ng-container *ngIf="key.nestedColumn; else noNestedColumnTemplate">
                              <td *ngIf="!key.onDialog">{{data[key.column][key.nestedColumn]}}</td>  
                              <td *ngIf="key.onDialog">{{data[key.column][key.nestedColumn]}}<i nz-icon nzType="edit"  (click)="key.onDialog(editCache[data.id].data,dialog)"></i></td>  
                            </ng-container>
                          </ng-container>    
                          <ng-template #noNestedColumnTemplate>  
                            <td *ngIf="!key.value && !key.nestedColumn">
                              <span *ngIf="!key.conditionColumn">{{data[key.column]}}</span>                        
                              <span *ngIf="key.conditionColumn && (!data[key.conditionColumn] || data[key.conditionColumn]==0)">{{data[key.column]}}<br/></span>  
                              <span *ngIf="key.conditionColumn && (data[key.conditionColumn] && data[key.conditionColumn] != 0)"><s>{{data[key.column]}}</s><br/></span>                          
                              <span *ngIf="key.conditionColumn && (data[key.conditionColumn] && data[key.conditionColumn] != 0)">{{data[key.conditionColumn]}}</span>  
                            </td>
                          </ng-template>
                          <ng-template #ValueTemplate>                            
                            <td *ngIf="key.value">{{getValue(data,key.value)}} </td>  
                          </ng-template>   
                          <!-- <td *ngIf="!key.value && !key.nestedColumn">  
                            <span *ngIf="!key.conditionColumn">{{data[key.column]}}</span>                        
                            <span *ngIf="key.conditionColumn && (!data[key.conditionColumn] || data[key.conditionColumn]==0)">{{data[key.column]}}<br/></span>  
                            <span *ngIf="key.conditionColumn && (data[key.conditionColumn] && data[key.conditionColumn] != 0)"><s>{{data[key.column]}}</s><br/></span>                          
                            <span *ngIf="key.conditionColumn && (data[key.conditionColumn] && data[key.conditionColumn] != 0)">{{data[key.conditionColumn]}}</span> 
                          </td> 
                          <td *ngIf="!key.value && key.nestedColumn">{{data[key.column][key.nestedColumn]}}<i nz-icon nzType="edit"  (click)="key.onEdit(editCache[data.id].data)"></i></td>   -->
                        </ng-container> 
                        <ng-container *ngIf="key.type == 'date'"> 
                          <td>{{common.formatTimeZone(data[key.column])}}</td>     
                        </ng-container>        
                      </ng-container>                        
                      <ng-template #imageTemplate>
                        <td >
                          <img style="width:100px;height:100px"  [src]="formatImage(data[key.column])" />   
                        </td>
                      </ng-template>  
                    </ng-container>
                    <td *ngIf="key.status">
                      <!-- <i *ngIf="data[key.column]" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>        -->
                      <span *ngIf="data[key.column]" nz-icon nzType="check" nzTheme="outline" style="font-size: 16px; color: #52c41a;"></span>               
                      <span *ngIf="!data[key.column]" nz-icon nzType="close" nzTheme="outline" style="font-size: 16px; color: red;"></span>               
                      <!-- <button *ngIf="!data[key.column]" nzType="primary" nz-button (click)="updateStatus(key.column,data.id,data[key.column])" >Paid</button> -->
                      <!-- <button *ngIf="data[key.column]" nzType="primary" nz-button (click)="updateStatus(key.column,data.id,data[key.column])" ><span nz-icon nzType="undo" nzTheme="outline"></span></button> -->
                    </td>   
                    <td *ngIf="key.valid">
                      <nz-switch [ngModel]="!data[key.column]" nzType="primary" nz-button (ngModelChange)="updateValid(key.column,data.id,data[key.column])"></nz-switch>
                    </td>                    
                  </ng-container>
                  <td *ngIf="tableSettings && tableSettings.Action" >
                    <button *ngIf="tableSettings.Action.Update" nz-button nzType="primary" (click)="startEdit(data.id)"  ><i nz-icon nzType="edit"></i></button>
                    <button *ngIf="expandProperty &&  tableSettings && tableSettings.Delete" nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Sure to Delete?" (nzOnConfirm)="deleteButton(data.id)"  nzDanger ><i nz-icon nzType="delete"></i></button>
                    
                    <ng-container *ngFor="let btn of tableSettings.Action.Buttons" >  
                      <button nzType="primary" nz-button (click)="buttonsEvent(data.id,btn.function)" ><i nz-icon nzType="{{btn.icon}}" nzTheme="outline"></i></button>                    
                    </ng-container>
                    
                    <button *ngIf="tableSettings.Action.CustomFunction" nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="moreDetail" nzPlacement="bottomRight">
                      <i nz-icon nzType="ellipsis"></i>
                    </button>
                    <nz-dropdown-menu #moreDetail="nzDropdownMenu">
                      <ul nz-menu>
                      <ng-container *ngFor="let option of tableSettings.Action.CustomFunction" >                         
                        <li *ngIf="!option.popfunction" nz-menu-item (click)="optionEvent(option.value,data.id,option.function)">{{option.desc}}</li>                       
                        <!-- <li *ngIf="!option.popfunction" nz-menu-item (click)="buttonEvent(data.id,option.function)">{{option.desc}}</li> -->
                        <li *ngIf="option.popfunction"  nz-menu-item 
                         nz-popover nzPopoverTitle="{{option.title}}" (click)="setPopValue(option.value,data.id)"
                        [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click">
                        {{option.desc}} 
                        </li> 
                      </ng-container> 
                      </ul>
                    </nz-dropdown-menu>
                    <button *ngIf="tableSettings.Action.customPopFunction" 
                    nzType="primary" nz-button  nz-popover nzPopoverTitle="{{tableSettings.Action.customPopFunction.title}}" 
                    [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click">
                      {{tableSettings.Action.customPopFunction.name}}
                    </button>                    
                    <ng-template #contentTemplate>
                      <div>
                        <input *ngIf="editCache[data.id].optionValue" nz-input class="listingeditinput" style="display:none" [(ngModel)]="editCache[data.id].optionValue" />
                        <input nz-input class="listingeditinput"  [(ngModel)]="editCache[data.id].customfile" />
                        <button *ngIf="editCache[data.id].optionValue" nzType="primary" nz-button (click)="customPopDataFunction(data.id,editCache[data.id])">
                          Confirm
                        </button>
                        <button *ngIf="!editCache[data.id].optionValue" nzType="primary" nz-button (click)="customPopFunction(data.id,editCache[data.id].customfile)">
                          Confirm
                        </button>
                        <!-- <button nz-button nzType="primary" nzDanger nz-popconfirm nzPopconfirmTitle="Sure to cancel?" 
                          (nzOnConfirm)="closePop()" ><i nz-icon nzType="close-circle"></i></button> -->
                      </div>
                    </ng-template>            
                    <button style="float:right" *ngIf="tableSettings.Action.View" nz-button nzType="primary" (click)="viewButton(data.id)" ><i nz-icon nzType="right-circle"></i></button>
                  </td> 
                </ng-container> 
                <ng-template #editTemplate>
                  <ng-container *ngFor="let key of tableHeaderData" >
                    <ng-container *ngIf="!key.status">
                      <ng-container *ngIf="key.edit">                      
                      <ng-container *ngIf="!key.onChange; else changeTemplate">
                        <td *ngIf="!key.nestedColumn"><input nz-input  [(ngModel)]="editCache[data.id].data[key.column]" /></td>
                        <td *ngIf="key.nestedColumn"><input nz-input  [(ngModel)]="editCache[data.id].data[key.column][key.nestedColumn]" /></td>
                      </ng-container>                
                      
                      <ng-template #changeTemplate>
                        <td *ngIf="!key.nestedColumn"><input nz-input (change)="key.onChange(editCache[data.id].data)" [(ngModel)]="editCache[data.id].data[key.column]" /></td>
                        <td *ngIf="key.nestedColumn"><input nz-input  (change)="key.onChange(editCache[data.id].data)" [(ngModel)]="editCache[data.id].data[key.column][key.nestedColumn]" /></td>
                      </ng-template> 
                      </ng-container>
                      <ng-container *ngIf="!key.edit">
                        <ng-container *ngIf="key.type != 'image' else imageTemplate">              
                          <td *ngIf="key.value">{{getValue(data,key.value)}}</td>             
                          <td *ngIf="!key.value && !key.nestedColumn">{{data[key.column]}}</td> 
                          <td *ngIf="!key.value && key.nestedColumn">{{data[key.column][key.nestedColumn]}}</td>  
                        </ng-container>                        
                        <ng-template #imageTemplate>
                          <td>
                            <img style="width:100px;height:100px"  [src]="formatImage(data[key.column])" />
                          </td>
                        </ng-template>
                      </ng-container>
                    </ng-container>
                    <td *ngIf="key.status">
                      <i *ngIf="data[key.column]" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
                      <button nzType="primary" nz-button (click)="updateStatus(key.column,data.id,data[key.column])" >Paid</button>
                    </td>
                  </ng-container>
                  <td>
                    <button nz-button nzType="primary" (click)="saveEdit(data.id)"  ><i nz-icon nzType="save"></i></button>
                    <button nz-button nzType="primary" nzDanger nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)" ><i nz-icon nzType="close-circle"></i></button>
                  </td>
                </ng-template>      
              </tr>  
              <tr *ngIf="data[expandProperty] && data[expandProperty].length >0 && tableSettings.nested.tableHeaderData" [nzExpand]="data.expand" >
                <nz-table #innerTable 
                  [nzData]="data[expandProperty]" 
                  nzSize="middle" 
                  [nzShowPagination]="false"
                  [nzScroll]="{ x: '1150px' }" 
                  style="table-layout: fixed;background-color: orangered;"   
                  nzBordered nzSize="small"
                  nzHideOnSinglePage="true" 
                  [nzFrontPagination]="true" >
                  <thead>
                    <tr >                                   
                      <ng-container *ngFor="let header of tableSettings.nested.tableHeaderData" >
                        <th  class="firstTh" style="text-align: center;z-index: 20;" [colspan]="1">
                          {{header.header}}
                        </th>    
                      </ng-container>              
                      <th  *ngIf="tableSettings.nested.Action" class="firstTh" style="text-align: center;z-index: 20;" [colspan]="1">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-template ngFor let-data [ngForOf]="innerTable.data">
                      <tr>                             
                        <ng-container *ngIf="!nestedEditCache[data.id].edit; else editTemplate">
                          <ng-container *ngFor="let key of tableSettings.nested.tableHeaderData" >
                            <td *ngIf="!key.nestedColumn">{{data[key.column]}}</td> 
                            <td *ngIf="key.nestedColumn">{{data[key.column][key.nestedColumn]}}</td> 
                          </ng-container>                   
                          <td *ngIf="tableSettings.nested.Action">
                            <button *ngIf="tableSettings.nested.Action.Update" nz-button nzType="primary" (click)="startEdit(data.id,expandProperty)"  ><i nz-icon nzType="edit"></i></button>
                            <button *ngIf="tableSettings.nested.Delete" nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Sure to Delete?" (nzOnConfirm)="deleteButton(data.id)"  nzDanger ><i nz-icon nzType="delete"></i></button>
                            <button *ngIf="tableSettings.nested.Action.CustomFunction" nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="moreNestedDetail" nzPlacement="bottomRight">
                              <i nz-icon nzType="ellipsis"></i>
                            </button>
                            <nz-dropdown-menu #moreNestedDetail="nzDropdownMenu">
                              <ul nz-menu>
                              <ng-container *ngFor="let option of tableSettings.nested.Action.CustomFunction" >                        
                                <li nz-menu-item (click)="option.function(data.id)">{{option.desc}}</li>
                              </ng-container> 
                              </ul>
                            </nz-dropdown-menu>
                          </td> 
                        </ng-container> 
                        <ng-template #editTemplate>
                          <ng-container *ngFor="let key of tableSettings.nested.tableHeaderData" >
                            <td *ngIf="!key.nestedColumn"><input nz-input  [(ngModel)]="nestedEditCache[data.id].data[key.column]" /></td>
                            <td *ngIf="key.nestedColumn"><input nz-input  [(ngModel)]="nestedEditCache[data.id].data[key.column][key.nestedColumn]" /></td>
                          </ng-container>
                          <td>
                            <button nz-button nzType="primary" (click)="saveEdit(data.id,expandProperty)"  ><i nz-icon nzType="save"></i></button>
                            <button nz-button nzType="primary" nzDanger nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id,expandProperty)" ><i nz-icon nzType="close-circle"></i></button>
                          </td>
                        </ng-template>      
                      </tr> 
                    </ng-template>   
                  </tbody>
                </nz-table>
              </tr> 
            </ng-template>
          </tbody>
        </nz-table>          
        
    </div>
  </div>
</div>