<!-- <nz-modal [nzAutofocus]="'auto'" nzWidth="fit-content" [nzBodyStyle]="{ height: 'fit-content' }" [(nzVisible)]="isOrderModalVisible" nzTitle="Confirm" (nzOnCancel)="handleCancel()"
>
    <div style="width: 100%">
        {{objConfirm.itemId}} - {{objConfirm.name}}
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="primary" (click)="confirmDone(objConfirm.id,null,objConfirm)">Confirm</button>
        <button nz-button nzType="primary" (click)="handleCancel()">Cancel</button>
    </div>
</nz-modal> -->
<nz-modal [nzAutofocus]="'auto'" nzWidth="fit-content" [nzBodyStyle]="{ height: 'fit-content' }" [(nzVisible)]="isModalVisible" nzTitle="Confirm" (nzOnCancel)="handleCancel()"
>
    <div style="width: 100%">
        <span style="display:none">{{objConfirm.quantity}}  X  </span>{{objConfirm.itemId}} - {{objConfirm.name}}
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="primary" (click)="confirmDone(objConfirm.id,null,objConfirm)">Confirm</button>
        <button nz-button nzType="primary" (click)="handleCancel()">Cancel</button>
    </div>
</nz-modal>
<div class="contain-inter" style="height: fit-content;" >
    <style>
        .TBfont {
            font-size: 20px
        }

        .TBcenter {
            text-align: center;
        }

        .TBright {
            text-align: right;
        }
    </style>
    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
        <button id="round" nzShape="circle" nz-button nzType="primary" (click)="reset();init()">
            <i nz-icon nzType="reload"></i></button>             
        <div style="float:right;">
            <div nz-row style="display: flex;width: 100%;margin-top: 10px;">
                <label class="displayText">Date / 日期 :</label>
                <label style="font-size :18px;">{{date}}</label>
            </div>
            <!-- <div nz-row style="display: flex;width: 100%;margin-top: 10px;">
                <label class="displayText">Receipt No :</label>
                <label style="font-size :18px;color:red">{{receiptNo}}</label>
            </div>              -->
        </div> 
    </div>   
    <style>
        nz-divider {
            color: #333;
            font-weight: normal;
        }
        .inner-box {
            background-color: orangered;
            padding: 16px 0;
            text-align: center;
        }
        .res-table {
            background-color: whitesmoke;
            border: 1px solid black;
            padding: 16px 0;
            text-align: center;
        } 
        .TBfont {
            font-size: 20px
        }
    </style>
    <div class="tableShow-area"  style="height: fit-content;">  
        <div nz-row>
            <div nz-col  style="padding:10px;background-color:whitesmoke">
                <div nz-row [nzGutter]="[24, 24]">                                                       
                    <ng-container *ngFor="let p of orders" >
                        <div *ngIf="p.kitchenOrder > 0" nz-col class="gutter-row" [nzSpan]="12" (click)="selectTable($event,p.id)">
                            <div class="inner-box">
                                <span class="TBfont">{{p.tableNo}}</span>
                                <div style="background-color: orangered;text-align: center;"><span style="color:white;text-align: center;"> Total: {{p.orderItemList.length}} items</span></div>
                                <ng-container *ngFor="let o of p.orderItemList" >
                                    <div *ngIf="o.status !=='done'" class="res-table" (click)="handledItem(o.id,p.orderItemList,o)"><span class="TBfont" style="font-weight: bold;display:none">{{o.quantity}} X</span> <span class="TBfont">{{o.itemId}}</span> - {{o.name}} <span class="TBfont" style="color:orangered" *ngIf="o.remark"> {{o.remark}}</span></div>
                                </ng-container> 
                            </div>
                        </div>
                    </ng-container> 

                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>