<div id="ListingModal" class="contain-inter">
    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
        <button id="round" nzShape="circle" nz-button nzType="primary" (click)="reset();init()"  ><i nz-icon nzType="reload"></i></button>
        <h2 style="float:left;"><span>Cash Flow 现金记录</span></h2>
        <div style="display: flex;margin-left:250px">       
        </div>
    </div>
    <div class="tableShow-area"  
        >
        <!-- <div class="">
            <nz-alert nzBanner nzMessage="Unselect 'Hide Legacy Releases' to check more interoperability." nzCloseable></nz-alert>
        </div> -->
        <div class="tableShow-table">
            <div class="butArea">
                <div [style.height]="'30px'" class="tableTop">
                    <div class="thLeft" style="width:100%">
                        <a class="columns" style="pointer-events: auto;"
                             nz-dropdown
                            nzTrigger="click" [nzDropdownMenu]="menu">
                            <span>
                                Listing
                            </span>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="dropDownCls">
                                <div class="Down-header">Show Columns</div>
                                <nz-checkbox-wrapper style="width: 100%;" >
                                </nz-checkbox-wrapper>
                            </div>
                        </nz-dropdown-menu>
                    </div>
                </div>
                <nz-table  #filterTable [nzScroll]="{ x: '1150px' }"   [nzData]="Purchases" nzBordered nzSize="small"
                nzHideOnSinglePage="true" 
                [nzTotal]="4"
                [nzFrontPagination]="false" 
                [nzShowPagination]="true"
                 [nzPageSize]="2"
                [nzNoResult]="emptyTemplate">
                    <ng-template #emptyTemplate>
                        <tr>
                            <nz-empty *ngIf="NoResultId=='No Data'" nzNotFoundImage="simple"></nz-empty>
                            <nz-empty *ngIf="NoResultId=='No Result'" nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                [nzNotFoundContent]="contentTpl">
                                <ng-template #contentTpl>
                                    <span> {{NoResultId}} </span>
                                </ng-template>
                            </nz-empty>
                        </tr>
                    </ng-template>
                    <thead>
                        <tr>
                            
                        <ng-container 
                        *ngFor="let column of headerdate">
                            <th *ngIf="column.sortOrder"
                                [nzSortOrder]="column.sortOrder"
                                [nzSortFn]="column.sortFn"
                                [nzSortDirections]="column.sortDirections"
                            >
                                {{ column.name }}
                            </th>
                            <th *ngIf="!column.sortOrder"
                            >
                            {{ column.name }}
                        </th>
                        </ng-container>
                        </tr>
                       
                    </thead>
                    <!-- <tbody>
                        <tr *ngFor="let data of filterTable.data">
                          <td>{{ data.totalAmount }} </td>
                        </tr>
                      </tbody> -->
                    <tbody>
                        <ng-container *ngFor="let p of filterTable.data, let i =index">
                            <tr>
                                <td>
                                    <button nz-button nzType="primary" [nzSize]="size"><i nz-icon nzType="delete"></i></button>
                                </td>
                                <td>
                                    {{p.date}}
                                </td>
                                <td class="trDisplayLabel{{i}}">
                                    {{p.particular}}
                                </td>                                    
                                <td class="trEditLabel{{i}}" style="display:none">
                                    <input nz-input  class="listingeditinput" [(ngModel)]="p.particular" />
                                </td>   
                                <td class="trDisplayLabel{{i}}">
                                    {{p.invoiceNo}}
                                </td>                                    
                                <td class="trEditLabel{{i}}" style="display:none">
                                    <input nz-input  class="listingeditinput" [(ngModel)]="p.invoiceNo" />
                                </td> 
                                <td>
                                    {{p.type.description}}
                                </td>    
                                <td class="trDisplayLabel{{i}}">
                                    {{p.totalAmount}}
                                </td> 
                                <td class="trEditLabel{{i}}" style="display:none">
                                    <input nz-input  class="listingeditinput" [(ngModel)]="p.totalAmount" />
                                </td>
                                <td>
                                    <i *ngIf="p.paid" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
                                    <button *ngIf="!p.paid" nzType="primary" nz-button 
                                    (click)="paidPurchase(i)" [disabled]="true">Paid</button>
                                </td>
                                <td>
                                    <button nz-button nzType="primary" (click)="update(i)"><i nz-icon nzType="edit" ></i>Edit</button>
                                       
                                </td>
                            </tr>    
                        </ng-container>

                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>
  
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>