<button id="validButton" style="display:none" (click)="validateForm();">Validate</button>
    <div class="tableShow-area"  style="height: fit-content;">
        <div class="tableShow-table">
          <ng-container *ngFor="let p of pageDetail, let i = index">            
            <div [formGroup]="validForm">
                <div style="display: flex;width: 100%;margin-top: 10px;">
                    <div style="width:50%">
                        <label class="displayText">{{p.label}}：</label>
                        <nz-form-item>
                          <nz-form-control nzErrorTip="{{p.label}} is required!">
                            <nz-input-group>
                                <input nz-input class="inputWidth" (ngModelChange)="changeValue($event)" [(ngModel)]="p.value" formControlName="{{p.label}}"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item> 
                    </div>
                </div>                
            </div>
          </ng-container>
        </div>
    </div>