<div class="contain-inter" >
    <app-page-header [HeaderItems]="pageHeader" (initPage)="init()"></app-page-header>   
    <button id="deleteButton" style="display:none" (click)="deleteClient()" ></button>
    <button id="updateButton" style="display:none" (click)="updateClient()"></button>  
    <div style="display: inline;margin-left:250px">                    
        <div style="width:100%;">
            <nz-form-item>
            <nz-form-label nzFor="product_name">Client / 客户</nz-form-label>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                <input nz-input   type="text" nz-input placeholder="input search text" [(ngModel)]="client_name" (keyup.enter)="searchClient()" />
            </nz-input-group>
            <ng-template #suffixButton>
                <button nzType="primary" nz-button
                        (click)="searchClient()">Search / 寻找记录</button>
            </ng-template>
            </nz-form-item>   
        </div>    
    </div> 
    <app-table (updatedData)="getUpdatedData($event)" 
    (selectedIndex)="getSelectedIndex($event)" 
    [notifier]="tableData" 
    [tableSettings]="tableSettings"
    [tableHeaderData]="headerData" 
    (nextPage)="nextPageSetting($event)"></app-table>
    <div class="tableShow-area">
        
    </div>
</div>
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>