<div class="contain-inter" style="height: fit-content;">
    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
        <button id="round" nzShape="circle" nz-button nzType="primary" (click)="reset();init()"  ><i nz-icon nzType="reload"></i></button>
        <h2 style="float:left;"><span>货品目录 Catalogue</span></h2>   
        <div style="float:right">
            <button id="receipt" nzType="primary" nz-button (click)="generatePriceTag()">Generate Price Tag</button>
            <button id="receipt" nzType="primary" nz-button (click)="generateCatalogue()">Generate Catalogue</button>
        </div>
    </div>
    <div class="tableShow-area"  style="height: fit-content;">
        <div class="tableShow-table">
            <div style="width:100%">
                <div nz-row style="display: flex;width: 100%;">
                    <div style="width: 50%;">                        
                        <label class="displayText">Date / 日期 :</label>
                        <label >{{date}}</label>
                    </div>
                    <nz-form-item >
                        <nz-form-label  nzFor="price_type" style="float:left">Price Type / 价钱种类</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzErrorTip="Please select a price type!">
                            <nz-select [(ngModel)]="price_type"
                                nzPlaceHolder="Select a Price Type">
                                <ng-container *ngFor="let p of price_list">
                                    <nz-option [nzValue]="p.description" [nzLabel]="p.description"></nz-option>
                                </ng-container>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            
            <div class="butArea" style="border: 2px solid grey;  margin-top: 10px;">
                <div style="padding:5px" style="border-bottom: 2px solid grey;padding: 10px;">
                    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
                        <h3 style="float:left;"><span>Product List / 货单</span></h3>
                        <div style="float:right">
                            <nz-button-group nzSize="small" class="tableBut" >
                                <button nzType="primary"  id="addItembtn" nz-button 
                                    (click)="addItems(item_code,item_quantity,item_unit_cost,item_sellingPrice,item_netWeight,item_dimension)">Add Item</button>
                            </nz-button-group>
                        </div>
                    </div>
                    <div nz-row style="display: flex;width: 100%;">
                        <div style="width: 100%;">
                            <label class="displayText">Product Code / 货名 :</label>
                            <input nz-input  id="itemcode" [(ngModel)]="item_code" (keyup.enter)="InputChange($event)" />
                            <img style="width:100px;height:100px"  [src]="formatImage(imagefile)" />
                            <nz-select id="productItems" nzShowSearch class="inputWidth"
                                [(ngModel)]="item_index"
                                (ngModelChange)="ItemChange($event)"                    
                                nzPlaceHolder="Select a Solution">
                                <ng-container *ngFor="let p of Products; let i = index">Items
                                    <nz-option  *ngIf="!ProductLoadSel" [nzValue]="i" [nzLabel]="p.id + '-' + p.name"></nz-option>
                                </ng-container>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row style="display: flex;width: 100%;margin-top: 10px;">                       
                        <div style="width:50%">
                            <label class="displayText">Price Unit / 卖价 ：</label>
                            <input nz-input  class="inputWidth" [(ngModel)]="item_unit_cost" />
                        </div>                        
                        <div style="width:50%">
                            <label class="displayText">Quantity / 数量 ：</label>
                            <input nz-input  id="itemquantity" class="inputWidth"  [(ngModel)]="item_quantity" (keyup.enter)="addToItemlist()"/>
                        </div>                        
                        <div *ngIf="price_type=='WholesalerPrice'" style="width:50%">
                            <label class="displayText">Dimension / 体积 ：</label>
                            <input nz-input  id="item_dimension" class="inputWidth" [(ngModel)]="item_dimension" (keyup.enter)="addToItemlist()"/>
                        </div>                        
                        <div *ngIf="price_type=='WholesalerPrice'" style="width:50%">
                            <label class="displayText">Net Weight / 重量 ：</label>
                            <input nz-input  id="item_netWeight" class="inputWidth" [(ngModel)]="item_netWeight" (keyup.enter)="addToItemlist()"/>
                        </div>
                    </div>
                </div>
                <nz-table  [nzScroll]="{ x: '1150px' }"   [nzData]="OrderItems" nzBordered nzSize="small"
                    nzHideOnSinglePage="true" [nzFrontPagination]="false" [nzNoResult]="emptyTemplate">
                    <ng-template #emptyTemplate>
                        <tr>
                            <nz-empty *ngIf="NoResultId=='No Data'" nzNotFoundImage="simple"></nz-empty>
                            <nz-empty *ngIf="NoResultId=='No Result'" nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                [nzNotFoundContent]="contentTpl">
                                <ng-template #contentTpl>
                                    <span> {{NoResultId}} </span>
                                </ng-template>
                            </nz-empty>
                        </tr>
                    </ng-template>
                    <thead>
                        <tr>
                            <ng-container *ngFor="let p of order_product">
                                <th  class="firstTh" style="text-align: center;z-index: 20;"
                                    [colspan]="1">
                                    {{p}}
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>

                        
                        <ng-container *ngFor="let p of order_items.order_item,let i = index">
                            <tr >
                                <td>
                                    {{p.itemId}} - {{p.itemName}}
                                </td>   
                                <td>
                                    {{p.unitPrice}}
                                </td> 
                                <td>
                                    {{p.quantity}}
                                </td>                                 
                                <td>
                                    {{p.sellingPrice}}
                                </td>
                                <td>
                                    <button nzType="primary" nz-button 
                                    (click)="deleteItem(i)">Delete</button>
                                    
                                </td>
                                   
                            </tr>    
                        </ng-container>

                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>

<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>
<nz-modal [(nzVisible)]="isModalVisible" nzTitle="Price Option" (nzOnCancel)="handleCancel()">
    <div *nzModalContent>
    </div>    
    <div style="padding:5px" style="border: 2px solid grey;padding: 10px;">
        <div nz-row style="display: flex;width: 100%;">
            <nz-form-item >
                <nz-form-label  nzFor="price_type" style="float:left">Price Type / 价钱种类</nz-form-label>
                <nz-form-control [nzSpan]="12" nzErrorTip="Please select a price type!">
                    <nz-select [(ngModel)]="price_type"
                        nzPlaceHolder="Select a Price Type">
                        <ng-container *ngFor="let p of price_list">
                            <nz-option [nzValue]="p.description" [nzLabel]="p.description"></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="primary" (click)="handleCancel()" >OK</button>
    </div>
</nz-modal>