<div class="contain-inter" >
  <app-page-header [HeaderItems]="pageHeader" (initPage)="init()"></app-page-header>
  <h3 id="total"></h3>
  
  <div style="display: flex;width: 100%;">  
    <app-provider style="width:100vw" (getProviderEvent)="getProvider($event)" [outlet]="outlet"></app-provider>    
  </div>
  <!-- <div style="display: flex;width: 100%;">  
    <nz-form-item >
        <nz-form-label  nzFor="salesType" style="float:left">Sales Type</nz-form-label>
        <nz-form-control nzErrorTip="Please select a sales type!">
            <nz-select [(ngModel)]="salesType" (ngModelChange)="searchRecord()"
                nzPlaceHolder="Select a Sales Type">
                <ng-container *ngFor="let p of salesTypes">
                    <nz-option [nzValue]="p.id" [nzLabel]="p.value"></nz-option>
                </ng-container>
            </nz-select>
        </nz-form-control>
    </nz-form-item>      
  </div> -->
  <div nz-row style="display: flex;width: 100%;" *ngIf="mode=='1'">                           
    <div style="width:50%">                        
        <label class="displayText">Start Date / 日期</label>
        <nz-input-group >                            
        <input nz-input  type="date" [(ngModel)]="startdate" (keydown.enter)="searchRecord()"/>
        </nz-input-group>
    </div>
    <div style="width:50%">                        
        <label class="displayText">End Date / 日期</label>
        <nz-input-group >                            
        <input nz-input  type="date" [(ngModel)]="enddate" (keydown.enter)="searchRecord()"/>
        </nz-input-group>
    </div>
    <button nzType="primary" nz-button
            (click)="searchRecord()">Search / 寻找记录</button>              
    <button id="loadButton" style="display: none;"  (click)="loadIntoLedger()"></button> 
  </div>
  <app-table (updatedData)="getUpdatedData($event)" (selectedIndex)="getSelectedIndex($event)"
  [notifier]="tableData" 
  [tableHeaderData]="headerData" 
  [expandProperty]="expandProperty" 
  [tableSettings]="tableSettings" 
  (nextPage)="nextPageSetting($event)"></app-table>
  <button id="deleteButton" (click)="deleteSales()" ></button>
  <button id="updateButton" ></button>
  <button id="printButton" style="display: none;"  (click)="generateSelectedReceipt()"></button> 
</div>