<!-- 
<nz-modal [nzAutofocus]="null" nzWidth="fit-content" [nzBodyStyle]="{ height: 'fit-content' }" [(nzVisible)]="isVisible" nzTitle="Cashier Summary" 
(nzOnCancel)="handleCancel()"
    (nzAfterOpen)="modalLoaded()" >
        <div class="contain-inter" style="height: fit-content;">
            <div style="width: 100%">
                <div *ngIf="!isCreditCard"style="width: 100%;">
                    <h2 style="float:left;width:30%"><span style="float:left;">Paid Amount : </span></h2>
                    <nz-input-group style="width:40%"  nzPrefix="RM">
                        <input nz-input type="number" id="paidAmount" class="inputWidth"
                            (change)="paidMoney()" [(ngModel)]="sales.paidAmount" (keyup.enter)="saveSales(false)" />
                    </nz-input-group>
                    <button nz-button nzType="primary" style="float:right;width:30%" (click)="autopopulate()">Full Amount /E-wallet</button>
                    <button nz-button nzType="primary" style="float:right;width:30%" (click)="creditCard()">Credit Card</button>
                </div>
                <div *ngIf="isCreditCard" style="width: 100%;">
                    <h2 style="float:left;width:30%"><span style="float:left;">Ref No : </span></h2>
                    <nz-input-group style="width:40%"  > 
                        <input nz-input type="number" id="referenceNo" [(ngModel)]="sales.referenceNo" class="inputWidth" (keyup.enter)="saveSales(false)" />
                    </nz-input-group>
                </div>
                <div style="width: 100%;float:right">
                    <h1>
                        <span *ngIf="sales.finalTotal">Total: RM {{sales.finalTotal}}</span>
                        <span *ngIf="!sales.finalTotal">Total: RM 0.00</span>
                    </h1>
                </div>
            </div>
            <div *nzModalFooter>
                <button nz-button nzType="primary" (click)="saveSales(false)">Save</button>
            </div>
        </div>
</nz-modal> -->

<nz-modal [nzAutofocus]="null" nzWidth="fit-content" [nzBodyStyle]="{ height: 'fit-content' }" [(nzVisible)]="isVisible" nzTitle="Cashier Summary" 
(nzOnCancel)="handleCancel()"
    (nzAfterOpen)="modalLoaded()" >
        <div style="width: 100%">
            <div style="text-align: center;width:100%">
                <h2 style="float:left;width:100%"></h2>  
                <div style="display:flex;text-align: center;width:100%">
                    <span style="float:left;">Payment Mode:</span>
                    <button nz-button nzType="primary"  (click)="cash()">Cash</button>
                    <button nz-button nzType="primary"  (click)="ewallet()">E-wallet</button>
                    <button nz-button nzType="primary"  (click)="creditCard()">Credit Card</button>
                </div>
            </div>
            <hr/>
            <div *ngIf="sales.paymentType === '1'" style="width: 100%;">
                <h2 style="float:left;width:100%"><span style="float:left;">Cash</span></h2>  
                <h2 style="float:left;width:30%"><span style="float:left;">Paid Amount : </span></h2>
                <nz-input-group style="width:40%"  nzPrefix="RM">
                    <input nz-input type="number" id="paidAmount" class="inputWidth"
                        (change)="paidMoney()" [(ngModel)]="sales.paidAmount" (keyup.enter)="saveSales(false)" />
                </nz-input-group>
                <button nz-button nzType="primary" style="float:right;width:30%" (click)="autopopulate()">Full Amount</button>
            </div>
            <div *ngIf="sales.paymentType === '2'" style="width: 100%;">
                <h2 style="float:left;width:100%"><span style="float:left;">Credit Card</span></h2>  
                <h2 style="float:left;width:30%"><span style="float:left;">Ref No : </span></h2>
                <nz-input-group style="width:40%"  > 
                    <input nz-input type="number" id="referenceNo" [(ngModel)]="sales.referenceNo" class="inputWidth" (keyup.enter)="saveSales(false)" />
                </nz-input-group>
            </div>
            <div *ngIf="sales.paymentType === '3'" style="width: 100%;">  
                <h2 style="float:left;width:100%"><span style="float:left;">E-WALLET</span></h2>   
            </div>
            <!-- <div style="width: 100%;float:right">
                <h2 style="float:left;width:30%"><span style="float:left;">Discount : </span></h2>
                <nz-input-group style="width:40%"  nzPrefix="RM">
                    <input nz-input disabled id="discount" class="inputWidth"
                        [(ngModel)]="discount"/>
                    <input nz-input tabindex="1" id="discount" class="inputWidth" (keyup.enter)="discountVoucher($event)"
                        [(ngModel)]="discount"/>
                </nz-input-group> 
                <nz-input-group style="width:30%">
                        <input nz-input tabindex="1" id="discountCode" class="inputWidth" (keyup.enter)="discountVoucher($event)"
                            [(ngModel)]="discountCode"/>
                </nz-input-group>                
            </div> -->
            <div style="width: 100%;float:right">
                <h1>
                    <span *ngIf="sales.finalTotal">Total: RM {{sales.finalTotal}}</span>
                    <span *ngIf="!sales.finalTotal">Total: RM 0.00</span>
                </h1>
            </div>
        </div>
        <div *nzModalFooter>
            <!-- <button nz-button id="submitButton" nzType="primary" (click)="saveSales(false)">Save</button> -->
            <button nz-button nzType="primary" (click)="saveSales(true)">Save and Print</button>
            <!-- <button nz-button *ngIf="mode" id="submitButton" nzType="primary" (click)="saveSales(false)">Save</button>
            <button nz-button *ngIf="!mode" nzType="primary" (click)="saveSales(true)">Confirm and Print</button> -->
        </div>
    </nz-modal>