<div class="contain-inter">
    <app-page-header [HeaderItems]="pageHeader" (initPage)="refresh()"></app-page-header> 
    <h3 id="total"></h3> 
    <button id="deleteButton" style="display: none;" (click)="deletePurchase()"  ></button>
    <button id="updateButton" style="display: none;"  (click)="updatePurchase()"></button> 
    <button id="viewButton" style="display: none;"  (click)="goToDetails()"></button> 
    <button id="bankButton" style="display:none" (click)="updatePaidStatus('bank')" ></button>
    <button id="cashButton" style="display:none" (click)="updatePaidStatus('cash')" ></button>
    <nz-collapse [nzBordered]="false">
        <nz-collapse-panel nzHeader="Filter" nzActive="true">          
            <div style="display: inline;margin-left:250px">                    
                <div style="width:100%"> 
                    <nz-form-item>
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                            <input nz-input   type="text" nz-input placeholder="input search text" id="searchField" [(ngModel)]="txtSearch" (keyup.enter)="AccountYearChange($event)" />
                        </nz-input-group>
                        <ng-template #suffixButton>
                            <button nzType="primary" nz-button
                                    (click)="AccountYearChange($event)">Search / 寻找记录</button>
                        </ng-template>
                    </nz-form-item>                   
                    <div style="width:100%">
                        <label class="displayText">Year: </label>
                        <nz-select [(ngModel)]="year_index" (ngModelChange)="AccountYearChange($event)"
                            nzPlaceHolder="Select a Year">
                            <nz-option [nzValue]="All" [nzLabel]="">ALL</nz-option>
                            <ng-container *ngFor="let p of AccountYears">
                                <nz-option *ngIf="AccountYears" [nzValue]="p" [nzLabel]="p"></nz-option>
                            </ng-container>
                            <nz-option *ngIf="!AccountYears" nzDisabled nzCustomContent>
                                <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                            </nz-option>
                        </nz-select>
                    </div>  
                    <div style="width:100%">
                        <label class="displayText">Month：</label>
                        <nz-date-picker style="width:100%" nzMode="month" [(ngModel)]="monthfield" (ngModelChange)="AccountMonthChange($event)" nzFormat="MMM"></nz-date-picker>
                    </div> 
                    <div *ngIf="productCategory==3">        
                        <label class="displayText">Status: </label>
                        <nz-select [(ngModel)]="status_index" (ngModelChange)="AccountYearChange($event)"
                            nzPlaceHolder="Select a Status">        
                            
                            <nz-option [nzValue]="null">All</nz-option>
                            <ng-container *ngFor="let p of statusType">                        
                                <nz-option *ngIf="statusType" 
                                [nzValue]="p.id" [nzLabel]="p.description"></nz-option>
                            </ng-container>
                        </nz-select>
                    </div>  
                    <div *ngIf="productCategory!=3">  
                        <label class="displayText">Supplier / 供应商 :</label>
                        <nz-select class="inputWidth" nzShowSearch
                        [(ngModel)]="supplier_id" (ngModelChange)="SupplierChange_Listing($event)"
                            nzPlaceHolder="Select a Supplier">          
                            <nz-option *ngIf="Suppliers" 
                            [nzValue]="null">All</nz-option>
                            <ng-container *ngFor="let p of Suppliers">                        
                                <nz-option *ngIf="Suppliers" 
                                [nzValue]="p.id" [nzLabel]="p.name"></nz-option>
                            </ng-container>
                            <nz-option *ngIf="!Suppliers" nzDisabled nzCustomContent>
                                <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                            </nz-option>
                        </nz-select>
                    </div>   
                    <div *ngIf="productCategory!=3">  
                        <label class="displayText">Invoice Type / 单类 :</label>
                        <nz-select class="inputWidth" nzShowSearch
                        [(ngModel)]="invoice_type" (ngModelChange)="InvoiceTypeChange_Listing($event)"
                            nzPlaceHolder="Select a Invoice Type">          
                            <nz-option *ngIf="InvoiceType" 
                            [nzValue]="null">All</nz-option>
                            <ng-container *ngFor="let p of InvoiceType">                        
                                <nz-option *ngIf="InvoiceType" 
                                [nzValue]="p.id" [nzLabel]="p.description"></nz-option>
                            </ng-container>
                            <nz-option *ngIf="!InvoiceType" nzDisabled nzCustomContent>
                                <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                            </nz-option>
                        </nz-select>
                    </div>  
                </div>
            </div>
        </nz-collapse-panel>
    </nz-collapse>
    <app-table (updatedData)="dynamike.getUpdatedData($event)" 
    (selectedIndex)="dynamike.getSelectedIndex($event)" 
    [notifier]="tableData" 
    [tableSettings]="tableSettings" 
    [tableHeaderData]="headerData" 
    (nextPage)="dynamike.nextPageSetting($event,this,nextPage)"></app-table>
</div>

<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>