<!-- <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzBreakpoint="md" [nzCollapsedWidth]="0" > -->
<!-- <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" nzBreakpoint="md" [nzCollapsedWidth]="0" > -->
  
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzBreakpoint="md" [nzCollapsedWidth]="0">
    <div class="logo"></div>
    <nav>
    <!-- <ul nz-menu nzMode="horizontal">   -->
      <ul nz-menu nzMode="inline" 
      >
        <ng-container *ngFor="let p of navItems, ,let i = index">
          <li *ngIf="accountService.isAuthorized(p.role) && !p.children; else childrentemplate" nz-menu-item (click)="click(p.link)" >
            <span nz-icon nzType="{{p.icon}}"></span>
            <span>{{p.name}}</span>
          </li>
          <li *ngIf="accountService.isAuthorized(p.role) && p.children;" nz-submenu nzTitle="{{p.name}}" nzIcon="{{p.icon}}">
            <ul>              
              <ng-container *ngFor="let c of p.children, let j = index">
                <!-- <li *ngIf="isAuthorized(c.role) && !c.title && !c.icon" nz-menu-item (click)="click(c.link)" >{{c.name}}</li> -->
                <li *ngIf="accountService.isAuthorized(c.role) && !c.title" nz-menu-item (click)="click(c.link)" nzIcon="{{c.icon}}">{{c.name}}</li>
                <li *ngIf="accountService.isAuthorized(c.role) && c.title"  nz-submenu nzTitle="{{c.name}}"  nzIcon="{{c.icon}}">
                  <ul>
                      <ng-container *ngFor="let d of c.children, let j = index">
                        <!-- <li *ngIf="isAuthorized(d.role) && !d.icon" nz-menu-item (click)="click(d.link)" >{{d.name}}</li> -->
                        <li *ngIf="accountService.isAuthorized(d.role)" nz-menu-item (click)="click(d.link)" nzIcon="{{d.icon}}">{{d.name}}</li>
                    </ng-container>
                  </ul>
                </li>
              </ng-container>
              <!-- <li nz-menu-group nzTitle="Maintenance">
                <ul>
                  <ng-container *ngFor="let c of p.children, let j = index">
                    <li *ngIf="isAuthorized(c.role)" nz-menu-item (click)="click(c.link)" >{{c.name}}</li>
                  </ng-container>
                </ul>
              </li> -->
            </ul>
          </li>
        </ng-container>
        
      </ul>
    </nav>
  </nz-sider>