
<div style="width:100%;">   
    <nz-drawer
        [nzVisible]="visible"
        nzPlacement="right"
        [nzTitle]="title"
        nzWidth="100%"
        (nzOnClose)="close()"
    >
    <div style="width:0px;height:0px"></div>
        <app-product [receipeId]="product_id"   (closeDrawer)="closeDrawer($event)"></app-product>
    </nz-drawer>             
    <nz-form-item>
        <nz-form-label *ngIf="type!='foodMenu'" nzFor="item_code">Product / 货品</nz-form-label><nz-switch *ngIf="type!='foodMenu'" [ngModel]="true" nzCheckedChildren="S6" nzUnCheckedChildren="14G" (ngModelChange)="switchToCafePO()"></nz-switch>
            <!-- <nz-input-group *ngIf="type=='foodMenu' && isS6" [nzSuffix]="suffixIconSearch"> -->
            <nz-input-group  *ngIf="isS6 && (!Product || Product.length <=1)" [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="input product code" id="item_code" [(ngModel)]="item_code" (keyup.enter)="searchProduct()" #search />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <span nz-icon nzType="search" (click)="searchProduct(null)"></span>
            </ng-template>            
            <!-- <nz-input-group *ngIf="type!='foodMenu' && isS6" style="padding:0" nzSearch> -->            
            <nz-input-group *ngIf="isS6 && Product && Product.length >1" style="padding:0;display: block;" nzSearch>
                <nz-select id="item_code"  nzShowSearch class="inputWidth" [(ngModel)]="item_code"  
                    (ngModelChange)="ProductChange($event)" 
                    (keyup.enter)="searchProduct($event)"              
                        nzPlaceHolder="Select a Product">
                        <ng-container  >
                            <ng-container  *ngFor="let p of Product, let i = index">
                                <nz-option *ngIf="Product" [nzValue]="p.code" [nzLabel]="p.code + ' - ' + p.name"></nz-option>
                            </ng-container>
                        </ng-container>
                        <nz-option *ngIf="!Product" nzDisabled nzCustomContent>
                            <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                        </nz-option>
                    </nz-select>   
            </nz-input-group>
        <div style="width: 100%;display: block;" *ngIf="!isS6">
            <input style="display:none" nz-input  [(ngModel)]="item_code" (ngModelChange)="InputChange($event)"  />  
            <nz-select nzShowSearch class="inputWidth"
                [(ngModel)]="item_index"
                (ngModelChange)="ItemChange($event)"                    
                nzPlaceHolder="Select a Solution">
                <ng-container *ngFor="let p of Items; let i = index">Items
                    <nz-option  *ngIf="Items" [nzValue]="i" [nzLabel]="p.code + '-' + p.name"></nz-option>
                </ng-container>
                
                <nz-option *ngIf="!Items" nzDisabled nzCustomContent>
                    <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                </nz-option>
            </nz-select>
        </div>
    </nz-form-item>
   
</div>


<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>
