
<div class="contain-inter" >
  <!-- <nz-carousel nzAutoPlay>
    <div nz-carousel-content *ngFor="let p of array">
      <nz-card nzHoverable style="width:100vw;"  [nzCover]="coverTemplate">
        <nz-card-meta [nzTitle]="p.title" [nzDescription]="p.content"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img style="width:100px;height:100px"  [src]="formatImage(data[key.column])" />   
        <img alt="example" src="{{p.image}}" />
      </ng-template>
    </div>
  </nz-carousel> -->
  
  <app-carousel 
  [notifier]="tableData" 
  [tableHeaderData]="headerData"
  ></app-carousel>
  <nz-list nzGrid>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzXXl]="8" [nzXl]="4" [nzLg]="6" [nzMd]="6" [nzSm]="12" [nzXs]="24" >
        <nz-list-item *ngIf="!punchCardVisible">
          <nz-card nzTitle="PaySlip">
            <a [routerLink]="['/PaySlipRecord/staff']">More</a>
          </nz-card>
        </nz-list-item>
        <nz-list-item *ngIf="!punchCardVisible">
          <nz-card nzTitle="Attendance">
            <a [routerLink]="['/AttendanceListing/staff']">More</a>
          </nz-card>
        </nz-list-item>
      </div>
    </div>
  </nz-list>
  <!-- <nz-list nzGrid>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzXXl]="8" [nzXl]="4" [nzLg]="6" [nzMd]="6" [nzSm]="12" [nzXs]="24" *ngFor="let item of data">
        <nz-list-item>
          <nz-card [nzTitle]="item.title">Card content</nz-card>
        </nz-list-item>
      </div>
    </div>
  </nz-list> -->
</div>