<!-- <div style="width:100%"> -->
  <!-- <label class="displayText">Provider :</label> -->
  <nz-form-item>
      <nz-form-control nzErrorTip="Invoice Type is required!">
      <nz-form-label  nzFor="providerType.id" style="float:left">Sales Type</nz-form-label>
      <nz-input-group>
          <nz-select class="inputWidth" 
              [(ngModel)]="providerType.id"     
              (ngModelChange)="getProvider($event)"
              nzPlaceHolder="Select a Provider">
              <ng-container *ngFor="let p of providerType, let i = index">
                  <nz-option *ngIf="providerType" [nzValue]="p" [nzLabel]="p.description"></nz-option>
              </ng-container>
              <nz-option *ngIf="!providerType" nzDisabled nzCustomContent>
                  <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
              </nz-option>
          </nz-select>        
      </nz-input-group>
      </nz-form-control>
  </nz-form-item>        
<!-- </div> -->